---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import BlogLinkSimple from "../../components/BlogLinkSimple.astro";
import TagList from "../../components/TagList.astro";
import { sortPosts } from "../../scripts/Utils.js";

const allPosts = await getCollection("posts");
const sortedPosts = sortPosts(allPosts).sortByDate();
---

<Layout
    title="Crockett's Blog"
    description="A collection of posts about self-hosting, web development, and cultural commentary"
>
    <div
        class="container max-w-7xl py-4 lg:py-8 mx-auto space-y-8 min-h-16 px-4"
    >
        <h1 class="md:text-5xl text-2xl font-slab font-bold">All posts</h1>

        <div class="max-w-4xl">
            <TagList />
        </div>

        <div class="my-8">
            <ul class="flex flex-col gap-12 max-w-4xl" style="">
                {
                    sortedPosts.map((post) => (
                        <BlogLinkSimple
                            url={`/blog/${post.id}`}
                            title={post.data.title}
                            pubDate={post.data.pubDate}
                            description={post.data.description}
                            tags={post.data.tags}
                        />
                    ))
                }
            </ul>
        </div>
    </div>
</Layout>
