---
import SocialIcon from './SocialIcon.astro';

const { projectTitle, projectDescription, tagList, iconLinks } = Astro.props;
---

<div
  class="bg-base-300 rounded-md min-h-80 shadow-md shadow-[rgba(50, 50, 93, 0.25)] p-6 flex flex-col justify-between gap-2"
>
  <div class="links flex gap-4 justify-end">
    {
      iconLinks.map((icon) => (
        <SocialIcon
          link={icon.link}
          icon={icon.icon}
          ariaLabel={icon.ariaLabel}
          size={30}
        />
      ))
    }
  </div>

  <div class="font-sans text-xl md:text-2xl font-bold mb-8">{projectTitle}</div>
  <div class="font-sans md:min-h-24">
    {projectDescription}
  </div>
  <ul class="flex flex-wrap items-center mt-4 justify-end">
    {
      tagList.map((tag) => (
        <li class="block text-nowrap ml-2 mb-2 sm:ml-2 bg-primary text-s sm:text-base px-2 text-white">
          {tag}
        </li>
      ))
    }
  </ul>
</div>
